In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.DataFrame(np.random.randint(1, 10, size=(6, 9)), 
                    index=[['A', 'B', 'B', 'C', 'C', 'C'], [1, 2, 3, 4, 5, 6]], 
                    columns=[['I', 'I', 'II', 'II', 'II', 'II', 'III', 'III', 'III'], [1, 2, 1, 2, 3, 4, 1, 2, 3]] )

data

     I    II          III
     1  2  1  2  3  4   1  2  3
A 1  5  3  2  2  2  9   6  1  3
B 2  3  2  6  7  8  6   5  8  8
  3  3  4  3  3  1  2   9  1  7
C 4  6  3  5  4  9  3   9  4  7
  5  4  4  5  1  3  6   3  1  7
  6  7  7  1  8  1  7   8  5  6

In [10]:
data.index

MultiIndex([('A', 1),
            ('B', 2),
            ('B', 3),
            ('C', 4),
            ('C', 5),
            ('C', 6)],
           )

In [11]:
data['II']

     1  2  3  4
A 1  3  8  6  5
B 2  3  7  7  1
  3  9  5  9  2
C 4  8  9  8  6
  5  7  7  6  8
  6  3  2  8  3

In [13]:
data.loc[:, 'I' : 'II']

     I    II
     1  2  1  2  3  4
A 1  5  9  3  8  6  5
B 2  2  2  3  7  7  1
  3  7  2  9  5  9  2
C 4  4  5  8  9  8  6
  5  5  3  7  7  6  8
  6  5  9  3  2  8  3

In [14]:
data.loc[:, ['I', 'III']]

     I    III
     1  2   1  2  3
A 1  5  9   5  5  8
B 2  2  2   1  3  6
  3  7  2   1  3  1
C 4  4  5   7  4  6
  5  5  3   2  2  8
  6  5  9   9  9  3

In [15]:
data['II'][3]

A  1    6
B  2    7
   3    9
C  4    8
   5    6
   6    8
Name: 3, dtype: int32

In [16]:
data.loc['B', :]

   I    II          III
   1  2  1  2  3  4   1  2  3
2  2  2  3  7  7  1   1  3  6
3  7  2  9  5  9  2   1  3  1

In [17]:
data.loc['B':'C', :]

     I    II          III
     1  2  1  2  3  4   1  2  3
B 2  2  2  3  7  7  1   1  3  6
  3  7  2  9  5  9  2   1  3  1
C 4  4  5  8  9  8  6   7  4  6
  5  5  3  7  7  6  8   2  2  8
  6  5  9  3  2  8  3   9  9  3

In [18]:
data.loc['B', :].loc[2, :]

I    1    2
     2    2
II   1    3
     2    7
     3    7
     4    1
III  1    1
     2    3
     3    6
Name: 2, dtype: int32

In [7]:
idx = pd.IndexSlice
idx

Trong pandas, `IndexSlice` là một đối tượng được sử dụng để lập chỉ mục dữ liệu theo nhiều chiều hoặc một phần của chỉ mục (indexing) cho các đối tượng dữ liệu có cấu trúc nhiều chiều như DataFrame hoặc Panel. Điều này cho phép bạn truy cập và xử lý các phần dữ liệu theo cách linh hoạt hơn.

Trong một số tình huống, bạn cần truy cập một phạm vi hoặc một lát cắt của dữ liệu trong DataFrame hoặc Panel của bạn, và `IndexSlice` là công cụ hữu ích để làm điều đó.

Cú pháp để sử dụng `IndexSlice` như sau:

```python
pandas.IndexSlice[start : end]
```

Trong đó:

- `start`: Đại diện cho chỉ mục bắt đầu của phạm vi mà bạn muốn truy cập.
- `end`: Đại diện cho chỉ mục cuối cùng (kết thúc) của phạm vi mà bạn muốn truy cập.

Ví dụ, giả sử bạn có một DataFrame `df` và chỉ mục của nó là 'A', 'B', 'C', 'D', và bạn muốn truy cập các dòng từ 'B' đến 'D', và cột từ 'x' đến 'y', bạn có thể sử dụng `IndexSlice` như sau:

```python
import pandas as pd

# Tạo DataFrame ví dụ
data = {'x': [1, 2, 3, 4],
        'y': [5, 6, 7, 8],
        'z': [9, 10, 11, 12]}

index = ['A', 'B', 'C', 'D']
df = pd.DataFrame(data, index=index)

# Truy cập dữ liệu trong phạm vi chỉ mục và cột cụ thể
idx = pd.IndexSlice
result = df.loc[idx['B':'D'], idx['x':'y']]

print(result)
```

Kết quả sẽ là:

```
   x  y
B  2  6
C  3  7
D  4  8
```

Như bạn có thể thấy, `IndexSlice` giúp chúng ta truy cập vào một phạm vi chỉ mục và cột cụ thể trong DataFrame một cách thuận tiện.

In [23]:
data.loc[idx[:, [1,3,5]],:]

     I    II          III
     1  2  1  2  3  4   1  2  3
A 1  5  9  3  8  6  5   5  5  8
B 3  7  2  9  5  9  2   1  3  1
C 5  5  3  7  7  6  8   2  2  8

In [8]:
data.loc[idx[:, [1]],:]

     I    II          III
     1  2  1  2  3  4   1  2  3
A 1  5  3  2  2  2  9   6  1  3